.container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  z-index: 99999998;
  background: #ffffff;
  will-change: transform;
}

.particleContainer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.particle {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  will-change: transform, opacity;
  
  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
  }
}

.logoContainer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 2;
}

.logoSymbol {
  position: absolute;
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform, opacity;
  
  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
  }
}

.logoImage {
  // width: 100%;
  // height: 89%;
  object-fit: contain;
}

.bgGlow {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}